<form [formGroup]="postForm" class="post-form">
  <div class="post-form-fields" mat-dialog-content>
    <mat-form-field class="title">
      <mat-label for="postTitle">Title</mat-label>
      <input
        type="text"
        id="postTitle"
        name="title"
        class="post-title"
        formControlName="title"
        matInput
      />
      <mat-error *ngIf="title?.touched">Title is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="postThought">Thought</mat-label>
      <textarea
        id="postThought"
        name="thought"
        class="post-thought"
        formControlName="thought"
        matInput
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="thought?.touched && !thought?.dirty"
      >Thought is required</mat-error
    >
  </div>
  <div mat-dialog-actions class="submit-btn">
    <button
      mat-stroked-button
      class="submit-post"
      (click)="submitPost()"
      [disabled]="postForm.invalid"
    >
      {{ addEdit }} Post
    </button>
    <!-- <button class="add-post" [mat-dialog-close]="data">Add Post</button> -->
  </div>
</form>
