.post-form,
.post-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-form {
  height: 100%;
}

.post-form-fields {
  height: 80%;
}

.submit-btn {
  align-self: center;
}

mat-form-field {
  width: 100%;
}

mat-form-field.title {
  margin-bottom: 10px;
}

.post-title,
.post-thought,
mat-label,
mat-error {
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
}

.post-thought {
  height: 150px;
  max-height: 300px;
}

button.submit-post:disabled {
  background-color: white;
}

button.submit-post {
  margin: 5px 0px;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #73a5f1;
}
