div.social-posts-container,
div.social-posts-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.social-posts-flex {
  width: 60%;
}

button.new-thought,
div.posts-container {
  background-color: #a4afd0;
  border-radius: 5px;
}

button.new-thought {
  padding: 10px 0px;
  outline: none;
  width: 40%;
  font-size: 18px;
}

button.new-thought:hover {
  background-color: #73a5f1;
}

div.posts-container {
  margin: 20px 0px;
  width: 100%;
}

ul.posts-list {
  list-style: none;
  padding: 0px;
  margin: 20px 55px;
}

div.no-posts {
  text-align: center;
  margin: 20px;
  font-size: 16px;
}
